<h2>このマニュアルについて</h2>
<ul>
  <li>本作業が初めての場合は、<strong>必ず最後まで読んでから取り組んでください</strong>。</li>
  <li>作業中も再度確認できます。<strong>判定基準の記憶が曖昧になった時など、必要に応じて読み直してください</strong>。</li>
</ul>

<h2>作業内容</h2>
<p>あるユーザの映画視聴履歴と、それをもとに生成された推薦結果が表示されます。<mark>視聴履歴を踏まえてユーザの嗜好を推測し、各推薦結果が妥当かを判定</mark>してもらいます。</p>
<p>下図に示すように、判定ページは3つの列で構成されています。</p>
<img class="img-fluid img-thumbnail mb-3" src="{{ url_for('static', filename='image/screenshot.png') }}" alt="screenshot">
<p>それぞれの列に<mark>異なる時点</mark>に関する映画が表示されます。左列と右列の映画を参考に、中列の映画を判定してください。各列の説明は以下の通りです。</p>

<h3>左列</h3>
<p>判定対象の時点からみて、（直近の）<mark>過去の時点</mark>です。</p>
<p>
  この列には、<strong>ユーザが過去に視聴した映画が時系列順に</strong>（厳密にはユーザが評価した順番に）並んでいます。例えば、この列の最後の映画は、判定対象の時点（後述）の直前にユーザが視聴した映画ということになります。判定の度に、表示される映画の数が異なることもあります。
</p>

<h3>中列</h3>
<p><mark>判定対象の時点</mark>です。</p>
<p>
  この列には、<strong>過去の時点の次に関連するかもしれない映画</strong>が表示されます。その時点でユーザが実際に視聴した映画や、ユーザの嗜好とは全く関係のない映画なども含まれている可能性があります。表示の順番に意味はありません。
</p>

<h3>右列</h3>
<p>判定対象の時点からみて、<mark>次の時点</mark>です。</p>
<p>この列には、<strong>対象の時点の次にユーザが視聴した映画</strong>が表示されます。ただし、何も表示されないこともあります。その場合は、過去の時点の情報のみを参考に、対象の時点の各映画を判定してください。</p>

<h2>判定基準</h2>
<p>対象の時点の各映画について、2つの判定項目があります。</p>

<h3><code>このユーザはこの映画を…</code></h3>
<p>本作業の<strong>中心的な判定項目</strong>です。</p>
<p>
  過去と次（あれば）の時点の視聴履歴を踏まえて、<mark>対象の時点でこの映画をユーザが観そうか</mark>どうかを回答してください。映画の公開日・ジャンルや、ユーザの評価など、<strong>提示されている様々な情報を活用して判定</strong>してください。よく知らない映画については、リンク先の詳細情報も確認してください。（以降の「機能詳細」で詳しく説明します。）
</p>
<p>
  また、過去の映画は順番に並んでいることにも注意してください。ユーザの嗜好が途中で変わることがあるかもしれません。その場合、昔は観ていたが最近観なくなった類の映画は、<em>「この時点では」</em>もう観られにくいでしょう。<strong>過去の映画間の順序も意識しつつ、対象時点におけるユーザの嗜好を推測</strong>してください。
</p>
<p>
  選択肢<strong><code>…観そう</code>／<code>観なさそう</code>の選択回数自体には上限・下限はありません</strong>。判定基準を満たす／満たさない映画が複数ある場合は、それらに対して<code>…観そう</code>／<code>観なさそう</code>を選択してください。とは言うものの、判定対象の全映画に対して<code>…観そう</code>／<code>観なさそう</code>の一方のみとなることは、あまりないはずです。なお、事前に正解の分かっているものが少しあります。判定結果がこれらとの乖離を、承認の基準に使う可能性があります。
</p>
<p>
  第3の選択肢として<code>どちらともいえない</code>も用意しています。詳細情報などを調べても判断がつかない場合は、これを選択してください。ただし、<strong>判定対象の大半の映画を<code>どちらともいえない</code>とすることは避けてください</strong>。そのような全体的に判断が難しい場合は、スキップボタンをクリックして、別のデータで作業してください。また、スキップボタンもあまり乱用しないでください。（スキップするだけでは完了にはなりません。）
</p>

<h3><code>あなたをこの映画を…</code></h3>
<p>判定者の知識を記録するための<strong>補助的な判定項目</strong>です。</p>
<p>承認の有無には影響ないため、正直に回答してください。なお、この判定作業が初めてではない場合、選択肢の<code>作業前</code>は「最初の判定作業を行う前」を指します。</p>

<h2>機能詳細</h2>

<h3>上段</h3>
<p>黒いヘッダーの部分です。</p>
<dl>
  <dt>マニュアルボタン</dt>
  <dd>クリックすることで、このマニュアルを再び確認できます。</dd>
</dl>

<h3>中段</h3>
<p>作業の概要等が表示されている部分です。</p>
<dl>
  <dt>対象の時点</dt>
  <dd>データが存在する場合、対象の時点の具体的な日が表示されます。この情報も考慮して、判定してください。表示されない場合は、過去の最後の時点と次の時点の間のいずれかの日であると想定してください。</dd>
  <dt>完了ボタン</dt>
  <dd>判定を完了した後でクリックしてください。問題がなければ、完了コードが発行されます。</dd>
  <dt>スキップボタン</dt>
  <dd>クリックすることで、別のデータに変えることができます。判定基準のところで説明したように、必要な時に限り、利用してください。</dd>
  <dt>プログレスバー</dt>
  <dd>判定済みの映画数が可視化されます。</dd>
</dl>

<h3>下段</h3>
<p>それ以外のメインの部分です。以下は、ここに表示される各映画に関する説明です。</p>
<dl>
  <dt>タイトル</dt>
  <dd>長くて収まらない場合も、カーソルをこの領域に移動することで最後まで確認できます。</dd>
  <dt>映画情報</dt>
  <dd>上から順に、公開日、上映時間、ジャンル、詳細リンク（最大2つ）です。リンクをクリックすると、映画のあらすじや出演者など詳細情報（英語だけの場合もあります）を含む外部サイトのページが新しく開かれます。特に、知らない／詳しくない映画については、詳細ページの内容も積極的に確認しつつ、判定作業を行ってください。</dd>
  <dt>評価情報</dt>
  <dd>この映画に対するユーザの評価値（5点満点）と評価日が表示されます。</dd>
</dl>
